@page
@model ResgistroUsuario.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RegistroU</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroU.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroU.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroU.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroU.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroU.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroU.Usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroU.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroU.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroU.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroU.Password)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RegistroU.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
